<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<!--Responsive Meta Tag-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<!-- <link rel="stylesheet" href="style.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!--Import jQuery Library-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!--Import materialize.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- <script type="text/javascript" src="progressbar.js"></script> -->
<body>
<main>
<!-- Top container -->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper" style="background-color:#121B2C">
      <a href="https://www.pict.edu" class="brand-logo center"><img class="circle" src="/images/pict.jpg" style="width:30%"></a>
      <a href="#" class="brand-logo right" style='font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;margin-right:10px'>ProfAssessor</a>
      <a href="#!" data-target="sidenav-left" class="sidenav-trigger left"><i class="material-icons black-text">menu</i></a>
    </div>
  </nav>
</div>

<!-- Sidebar/menu -->
<div class="row Pad_top">
    <div class="container" style='font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif'>
      <ul id="sidenav-left" class="sidenav sidenav-fixed" style="background-color:#01579b">
        <li>
        <div class="user-view">
          <a href="#user"><img class="circle" src="/images/IMG.png"></a>
          <a href="#name"><span class="white-text name" style='font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif'><%=@name.capitalize%></span></a>
        </div>
        </li>
        <li><a href="/dashboard" class="logo-container white-text">Dashboard<i class="material-icons left white-text">spa</i></a></li>
        <li><a class="waves-effect white-text" href="courses.html"><i class="material-icons white-text">code</i>Courses</a></li>
        <li><%= link_to '<i class="material-icons white-text">flare</i>Sign Out'.html_safe, destroy_user_session_path, :method => :delete, :class => "waves-effect white-text" %></li>
      </ul>
    </div>
</div>

<div class="container z-depth-2" style="margin-left:27%;padding:2%">
  Please fill the following questionnaire given below:

  <%= form_for :init_test, url: "after_test", :html => {:id => "demoForm"} do |f| %>

  <div class="row">
    <p>
      <%=@arr_questions[0]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q0, "Pune Institute of Computer Technology", class: "with-gap" %>
        <span>Pune Institute of Computer Technology</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q0, "MIT/MITCOE", class: "with-gap"  %>
        <span>MIT/MITCOE</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q0, "Cummins College of Engineering", class: "with-gap"  %>
        <span>Cummins College of Engineering</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q0, "Others", class: "with-gap" %>
        <span>Others</span>
      </label>
    </p>
  </div>

  <div class="row">
    <p>
      <%=@arr_questions[1]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q1, "Computer Engineering", class: "with-gap" %>
        <span>Computer Engineering</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q1, "IT", class: "with-gap" %>
        <span>IT</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q1, "EnTC", class: "with-gap" %>
        <span>EnTC</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q1, "Electrical Engineering", class: "with-gap" %>
        <span>Electrical Engineering</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q1, "Mechanical or any other", class: "with-gap" %>
        <span>Mechanical or any other</span>
      </label>
    </p>
  </div>

  <div class="row">
    <p>
      <%=@arr_questions[2]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q2, "First Year", class: "with-gap" %>
        <span>First Year</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q2, "Second Year", class: "with-gap" %>
        <span>Second Year</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q2, "Third Year", class: "with-gap" %>
        <span>Third Year</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q2, "Fourth Year", class: "with-gap" %>
        <span>Fourth Year</span>
      </label>
    </p>
  </div>

  <div class="row">
    <%=@arr_questions[3]%><br/>
      <%= f.text_field :Q3, placeholder: "Eg: 8.35" %>
  </div>

  <div class="row">
    <p>
      <%=@arr_questions[4]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q4, "High", class: "with-gap" %>
        <span>High</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q4, "Average", class: "with-gap" %>
        <span>Average</span>
      </label>
    </p>
  </div>

  <div class="row">
    <p>
      <%=@arr_questions[5]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q5, "Participated and Prepared", class: "with-gap" %>
        <span>Participated and Prepared</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q5, "Not Participated", class: "with-gap" %>
        <span>Not Participated</span>
      </label>
    </p>
  </div>

  <div class="row">
    <p>
      <%=@arr_questions[6]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q6, "Yes", class: "with-gap" %>
        <span>Yes</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q6, "No", class: "with-gap" %>
        <span>No</span>
      </label>
    </p>
  </div>

  <div class="row">
    <p>
      <%=@arr_questions[7]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q7, "Yes" %>
        <span>Yes</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q7, "No" %>
        <span>No</span>
      </label>
    </p>
  </div>



  <div class="row">
    <p>
      <%=@arr_questions[8]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q8, "Yes" %>
      <span>Yes</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q8, "No" %>
        <span>No</span>
      </label>
    </p>
  </div>

  <div class="row">
    <p>
      <%=@arr_questions[9]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q9, "Yes" %>
      <span>Yes</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q9, "No" %>
      <span>No</span>
      </label>
    </p>
  </div>


  <div class="row">
    <p>
      <%=@arr_questions[10]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q10, "Yes" %>
        <span>Yes</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q10, "No" %>
        <span>No</span>
      </label>
    </p>
  </div>


  <div class="row">
    <p>
      <%=@arr_questions[11]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q11, "Yes" %>
      <span>Yes</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q11, "No" %>
      <span>No</span>
      </label>
    </p>
  </div>


  <div class="row">
    <p>
      <%=@arr_questions[12]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q12, "Yes" %>
      <span>Yes</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q12, "No" %>
      <span>No</span>
      </label>
    </p>
  </div>


  <div class="row">
    <p>
      <%=@arr_questions[13]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q13, "Management Studies (IIM, CAT Exam etc)" %>
        <span>Management Studies (IIM, CAT Exam etc)</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q13, "Masters in foreign country (US, Canada etc.)" %>
        <span>Masters in foreign country (US, Canada etc.)</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q13, "Masters in India (MTech, GATE etc.)" %>
        <span>Masters in India (MTech, GATE etc.)</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q13, "Job in technical domain (Software Developer, Data Scientist etc.)" %>
      <span>Job in technical domain (Software Developer, Data Scientist etc.)</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q13, "Job in non-technical domain (Organizational/Managerial/Content Writing/Business/Finance position etc.)" %>
      <span>Job in non-technical domain (Organizational/Managerial/Content Writing/Business/Finance position etc.)</span>
      </label>
    </p>
  </div>

  <div class="row">
    <p>
      <%=@arr_questions[14]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q14, "Yes" %>
        <span>Yes</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q14, "No" %>
        <span>No</span>
      </label>
    </p>
  </div>


  <div class="row">
    <p>
      <%=@arr_questions[15]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q15, "Yes" %>
        <span>Yes</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q15, "No" %>
        <span>No</span>
      </label>
    </p>
  </div>


  <div class="row">
    <p>
      <%=@arr_questions[16]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q16, "Yes - Almost every time" %>
        <span>Yes - Almost every time</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q16, "No - I do NOT ask questions or I prefer to look at the topic on my own" %>
        <span>No - I do NOT ask questions or I prefer to look at the topic on my own</span>
      </label>
    </p>
  </div>

  <div class="row">
    <p>
      <%=@arr_questions[17]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q17, "I ask multiple questions until the topic is clarified." %>
        <span>I ask multiple questions until the topic is clarified.</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q17, "I leave the topic to look at it later on." %>
        <span>I leave the topic to look at it later on.</span>
      </label>
    </p>
  </div>


  <div class="row">
    <p>
      <%=@arr_questions[18]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q18, "I get back to the particular topic as soon as possible/as and when I get home" %>
        <span>I get back to the particular topic as soon as possible/as and when I get home</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q18, "I leave the topic and look at during examinations" %>
        <span>I leave the topic and look at during examinations</span>
      </label>
    </p>
  </div>

  <div class="row">
    <p>
      <%=@arr_questions[19]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q19, "I learn a topic to understand the core fundamentals/learn the topics outside the examination syllabus for better understanding" %>
        <span>I learn a topic to understand the core fundamentals/learn the topics outside the examination syllabus for better understanding</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q19, "I learn a topic only to score marks in college/university examination", value: "I learn a topic only to score marks in college/university examination" %>
        <span>I learn a topic only to score marks in college/university examination", value: "I learn a topic only to score marks in college/university examination</span>
      </label>
    </p>
  </div>


  <div class="row">
    <p>
      <%=@arr_questions[20]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q20, "Understanding the syllabus even if it would result in spending more time" %>
        <span>Understanding the syllabus even if it would result in spending more time</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q20, "Short term memorization of syllabus just to spend lesser time" %>
        <span>Short term memorization of syllabus just to spend lesser time</span>
      </label>
    </p>
  </div>


  <div class="row">
    <p>
      <%=@arr_questions[21]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q21, "Well before examinations to understand the topic better" %>
        <span>Well before examinations to understand the topic better</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q21, "When exams are around the corner by just focusing on the given syllabus" %>
        <span>When exams are around the corner by just focusing on the given syllabus</span>
      </label>
    </p>
  </div>


  <div class="row">
    <p>
      <%=@arr_questions[22]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q22, "I prefer detailed study of curriculum as well as the required background knowledge" %>
        <span>I prefer detailed study of curriculum as well as the required background knowledge</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q22, "I study topics that are limited to the examination curriculum irrespective of my understanding of the topic" %>
        <span>I study topics that are limited to the examination curriculum irrespective of my understanding of the topic</span>
      </label>
    </p>
  </div>


  <div class="row">
    <p>
      <%=@arr_questions[23]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q23, "Yes" %>
        <span>Yes</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q23, "No" %>
        <span>No</span>
      </label>
    </p>
  </div>

  <div class="row">
    <p>
      <%=@arr_questions[24]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q24, "Yes" %>
        <span>Yes</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q24, "No" %>
        <span>No</span>
      </label>
    </p>
  </div>


  <div class="row">
    <p>
      <%=@arr_questions[25]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q25, "No" %>
        <span>No</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q25, "Yes" %>
        <span>Yes</span>
      </label>
    </p>
  </div>


  <div class="row">
    <p>
      <%=@arr_questions[26]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q26, "Try again to understand the topic from multiple sources" %>
        <span>Try again to understand the topic from multiple sources</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q26, "Memorize the topic and its contents OR Leave it" %>
        <span>Memorize the topic and its contents OR Leave it</span>
      </label>
    </p>
  </div>


  <div class="row">
    <p>
      <%=@arr_questions[27]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q27, "No" %>
        <span>No</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q27, "Yes" %>
        <span>Yes</span>
      </label>
    </p>
  </div>


  <div class="row">
    <p>
      <%=@arr_questions[28]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q28, "it Underestimates my knowledge" %>
        <span>it Underestimates my knowledge</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q28, "is Apt or Overestimates my knowledge" %>
        <span>is Apt or Overestimates my knowledge</span>
      </label>
    </p>
  </div>


  <div class="row">
    <p>
      <%=@arr_questions[29]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q29, "it Underestimates my efforts" %>
        <span>it Underestimates my efforts</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q29, "is Apt or Overestimates my efforts" %>
        <span>is Apt or Overestimates my efforts</span>
      </label>
    </p>
  </div>


  <div class="row">
    <p>
      <%=@arr_questions[30]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q30, "Start to learn and implement making the project" %>
        <span>Start to learn and implement making the project</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q30, "Delay the project and postpone it to some other time" %>
        <span>Delay the project and postpone it to some other time</span>
      </label>
    </p>
  </div>


  <div class="row">
    <p>
      <%=@arr_questions[31]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q31, "Yes" %>
        <span>Yes</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q31, "No/Average performance" %>
        <span>No/Average performance</span>
      </label>
    </p>
  </div>

  <div class="row">
    <p>
      <%=@arr_questions[32]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q32, "Yes" %>
        <span>Yes</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q32, "No" %>
        <span>No</span>
      </label>
    </p>
  </div>

  <div class="row">
    <p>
      <%=@arr_questions[33]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q33, "Yes" %>
        <span>Yes</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q33, "No" %>
        <span>No</span>
      </label>
    </p>
  </div>

  <div class="row">
    <p>
      <%=@arr_questions[34]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q34, "Yes" %>
        <span>Yes</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q34, "No" %>
        <span>No</span>
      </label>
    </p>
  </div>

  <div class="row">
    <p>
      <%=@arr_questions[35]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q35, "Yes" %>
        <span>Yes</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q35, "No" %>
        <span>No</span>
      </label>
    </p>
  </div>

  <div class="row">
    <p>
      <%=@arr_questions[36]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q36, "Prefer" %>
        <span>Prefer</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q36, "Do not prefer" %>
        <span>Do not prefer</span>
      </label>
    </p>
  </div>

  <div class="row">
    <p>
      <%=@arr_questions[37]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q37, "Prefer" %>
        <span>Prefer</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q37, "Do not prefer" %>
        <span>Do not prefer</span>
      </label>
    </p>
  </div>

  <div class="row">
    <p>
      <%=@arr_questions[38]%><br/>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q38, "Prefer" %>
        <span>Prefer</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :Q38, "Do not prefer" %>
        <span>Do not prefer</span>
      </label>
    </p>
  </div>

  <%= f.submit 'Submit form', class: "btn waves-effect waves-light" %> <%#border not clickable%>

  <% end  %>
</div>
<br>
</main>
  <!-- Footer -->
  <footer class="page-footer" style="background-color:#121B2C;">
          <div class="footer-copyright">
            <div class="container">
              <div class="row">
                <div class="col offset-s2">
                  © 2019 Copyright
                </div>
              </div>
            </div>
          </div>
        </footer>
<!-- End page content -->

</body>
<script type="text/javascript">
//sidebar init
$(document).ready(function(){
  $('.sidenav').sidenav();
});
//gpa validation
document.addEventListener('DOMContentLoaded', function(e) {
    FormValidation.formValidation(
        document.getElementById('demoForm'),
        {
            fields: {
              gpa: {
                   validators: {
                       notEmpty: {
                           message: 'The price is required'
                       },
                       numeric: {
                           message: 'The price must be a number'
                       }
                   }
               },
               plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                materialize: new FormValidation.plugins.Materialize(),
                submitButton: new FormValidation.plugins.SubmitButton(),
                icon: new FormValidation.plugins.Icon({
                    valid: 'fa fa-check',
                    invalid: 'fa fa-times',
                    validating: 'fa fa-refresh',
                }),
            },
             }
        }
  );
});
</script>
<style type="text/css">
#container {
  margin: 20px;
  width: 400px;
  height: 8px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
</style>

</html>
